{%extends 'base.html' %}

{%block content%}
    <main>
        <div>
            <h1>My lists</h1>
            <a href="{% url 'todo_list_create'%}">Create a new list</a>
            <p>
                <a href="{% url 'todo_item_create'%}">Create a new item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' item.pk %}">{{item.name}}</a>
                        </td>
                        <td>
                            {{item.items.all|length}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
{% endblock content%}
